{% extends "templates/base.html" %}

{% block content %}

<div id="custom-quote-back-about" class="myback">
  <div class="container mypadding">
    <div class="row">
      <blockquote>
        <p> 
 我賜給你們一條新命令，乃是叫你們彼此相愛；我怎樣愛你們，你們也要怎樣相愛。你們若有彼此相愛的心，眾人因此就認出你們是我的門徒了。
        </p>
        <cite title="約翰福音 13:34-35">約翰福音 13:34-35</cite>
      </blockquote>
    </div>
  </div>
</div>

<div class="whiteback">
  <div class="container">
    <div class="row mt mb">
      <h3 class="centered">使命宣言 Mission</h3>
      </br>
      </br>
      <div class="col-md-3 col-md-offset-3">
        <p>
          接觸不同文化背景與生活形態的華人和其他族裔，在耶穌基督裡藉著以聖經為中心的敬拜、團契生活、門徒訓練、教導、輔導和有益身心靈的活動建立他們。
        </p>
      </div>
      <div class="col-md-3">
        <p>
        Our mission is to introduce the Lord Jesus Christ both to the Chinese of various backgrounds and to all people from all walks of life, by providing programs and facilities for worship, discipleship, teaching, counseling and physical refreshment focusing on the Bible as our standard for living.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="grayback">
  <div class="container">
    <div class="row mt mb">
      <h3 class="centered">我們的信仰 Our Statement of Faith</h3>
      </br>
      </br>
      <div class="col-md-3 col-md-offset-3">
        <p>
        一、本會篤信全部新舊約聖經都是神所默示, 是教會及信徒信仰與生活唯一準則。
        </p>
        <p>
        二、信神乃獨一真神, 聖父聖子聖靈三位一體, 同位、同 等、同權、同榮, 是創造、救贖和最後審判的神。
        </p>
        <p>
        三、信耶穌基督是神的獨生子, 兼有神人兩性。道成肉身降世為人, 藉童貞女馬利亞由聖靈感孕而生。因擔當世人的罪, 被釘死在十字架上, 作世人之贖罪祭, 救贖一切相信祂的人, 使他們靠著祂所流的寶血得以稱義, 死後第三日由死裏復活升天, 作信徒的中保, 將來必定再來審判世人, 祂的國度無窮無盡。
        </p>
        <p>
        四、信聖靈已經降臨, 要進入居住並運行在信徒心中作成重生工作, 又引導信徒進入真理, 得著能力過聖潔生活。
        </p>
        <p>
        五、信人是按著神的形像被造, 後因悖逆而墮落; 罪與死便臨到世人, 不僅身體死亡, 而且靈魂滅亡與神隔絕, 只有藉主耶穌代贖功勞方能得救, 罪人得救是本乎恩, 亦因人的相信, 不是靠人的功勞。
        </p>
        <p>
        六、信義人與惡人身體復活, 義人復活得永遠福樂, 惡人復活受審判進入永刑。
        </p>
        <p>
        七、信教會是基督的身體, 只有一個, 包括古今中外一切重生得救的信徒 , 教會最大的使命是廣傳福音直到地極 , 並在真道上造就信徒。
        </p>
      </div>
      <div class="col-md-3">
        <p>
        1. We believe that the entire Bible, consisting of the Old and New Testaments, was inspired by God. The Bible is the only authority for Christian belief and conduct.
        </p>
        <p>
        2. We believe in one true God, eternally coexisting in three persons: Father, Son and Holy Spirit; equal in position, rank, authority and glory; the God of Creation, Redemption and Final Judgment.
        </p>
        <p>
        3. We believe that Jesus is the Son of God, true God and true Man, the incarnate Word, conceived by the Holy Spirit and born of the Virgin Mary. He was crucified to bear the sins of mankind and to become a sin offering to save all who believe in Him so that they can be made holy by His shed blood. He was raised on the third day, ascended into heaven, and is the Mediator between God and Man. He will come again to judge all mankind. His kingdom is everlasting.
        </p>
        <p>
        4. We believe that the Holy Spirit has descended to regenerate and indwell believers, and to work
        in the believer’s heart and produce Christlikeness. The Holy Spirit also leads believers into the
        truth and gives them strength to live a holy life.
        </p>
        <p>
        5. We believe that man was created in God’s image, but disobeyed God and fell. Sin and death then came to man. Man experienced not only physical death, but also spiritual deaths as his soul was separated from God. Only through substitutionary atonement by Jesus Christ can man be saved. Sinners are saved by God’s grace through faith, not by their own good works.
        </p>
        <p>
        6. We believe in the bodily resurrection of the just and the unjust. The just will be raised to eternal blessedness and the unjust will be raised to judgment and eternal punishment.
        </p>
        <p>
        7. We believe that the Church is the Body of Christ. There is only one Church, which includes all born-again Christians, past, present and future, in all places. The Great Commission of the Church is to spread the gospel to the ends of the earth and build up believers in the truth.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}

