{% extends "templates/base.html" %}

{% block content %}

<div id="custom-quote-back-about">
  <div class="container mypadding">
    <div class="row">
      <blockquote>
        <p> 
他們天天同心合意恆切的在殿裡，且在家中擘餅，存著歡喜、誠實的心用飯，讚美神，得眾民的喜愛。主將得救的人天天加給他們。
        </p>
        <cite title="使徒行傳 2:46-47">使徒行傳 2:46-47</cite>
      </blockquote>
    </div>
  </div>
</div>

<div class="whiteback">
  <div class="container">
    <div class="row mt mb">
      <h3 class="centered">聯絡方式</h3>
      </br>
      </br>
      <div class="col-md-4 col-md-offset-4">
        <p>
        電話 TEL: 212-219-1472
        </p>
        <p>
        Email: maxzhan@gmail.com (Max Zhan)
        </p>
        <p>
        地址 Address：</br>
        美國紐約市喜士達街一五四號</br>
        Oversea Chinese Mission 154 Hester Street New York, NY 10013
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}

