{% extends "templates/base.html" %}

{% block content %}

<div id="custom-quote-back-about">
  <div class="container mypadding">
    <div class="row">
      <blockquote class="transblack">
        <p> 
 我賜給你們一條新命令，乃是叫你們彼此相愛；我怎樣愛你們，你們也要怎樣相愛。你們若有彼此相愛的心，眾人因此就認出你們是我的門徒了。
        </p>
        <cite title="約翰福音 13:34-35">約翰福音 13:34-35</cite>
      </blockquote>
    </div>
  </div>
</div>

<div class="whiteback">
    <div class="container">
	    <div class="row mt mb">
            <div class="centered">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc6eH6yjI92qYUg10MG6-EPr40keDVOXpYYSu3nOF572xKGhg/viewform?embedded=true" width="760" height="1100" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
            </div>
        </div>
    </div>
</div>

<div class="grayback">
    <div class="container">
	    <div class="row mt mb">
            <div class="centered">
                <img src="/assets/img/2019retreat.png" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>
</div>

{% endblock %}

