<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Personal Website">
    <meta name="author" content="Hsiang-Ho Brian Lin">
    <!--link rel="shortcut icon" href="assets/ico/favicon.ico"-->

    <title>中宣會 佳音團契</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Fontawesome CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/trumbowyg/dist/ui/trumbowyg.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    
    <!-- Custom styles for this template -->
    <link href="/assets/css/style.css" rel="stylesheet">

   <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">中宣會 佳音團契</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/about">關於我們</a></li>
            <li><a href="/events">近期活動</a></li>
            <li><a href="/articles">最新文章</a></li>
            <li><a href="/resource">教會資源</a></li>
            <li><a href="/contact">聯絡我們</a></li>
            {% if is_member_or_admin %}
            <li><a href="{{ logout }}">{{ user_email }} Logout</a></li>
            {% elif user_email %}
            <li><a href="{{ logout }}">Non-member Logout</a></li>
            {% else %}
            <li><a href="/login">登入</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    {% block content %}{% endblock %}

	<div id="footerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-sm-4">
					<p>abc<i class="fa fa-at"></i> example.com</p>
				</div>
				<div class="col-sm-4">
                    <p>Address:</p>
				</div>
				<div class="col-sm-4">
					<p>&copy; example.com <script type="text/javascript">document.write(new Date().   getFullYear());</script></p>
				</div>
			</div>
		</div>
	</div><! --/footerwrap -->
	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="/assets/js/main.js"></script>
 
    {% block js %}{% endblock %}
 
 </body>
</html>
