{% extends "templates/base.html" %}

{% block content %}
    <div class="whiteback">
      <div class="container">
        <div class="row mt mb">
		  <div class="col-lg-8 col-lg-offset-2">
              {% if page %}
              <form action="/login/submitpage?type_name={{ type_name }}&page_id={{ page.key.id() }}" method="post">
              <div><label for="english_title">English Title (Required)</label></div>
              <div><input type="text" name="english_title" class="form-control" value="{{ page.english_title }}" readonly></div></br>
              <div><label for="title">Title (Required)</label></div>
              <div><input type="text" name="title" class="form-control" value="{{ page.title }}" required="true"></div></br>
              <div><label for="author">Author</label></div>
              <div><input type="text" name="author" class="form-control" value="{{ page.author }}"></div></br>
              <div><label for="date">Date</label></div>
              <div><input type="text" name="date" class="datepicker" value="{{ page.date }}"></div></br>
              <div><label for="summary">Summary</label></div>
              <div><textarea class="editor" name="summary" class="input-block-level">{{ page.summary }}</textarea></div></br>
              <div><label for="content">Content</label></div>
              <div><textarea class="editor" name="content" class="input-block-level">{{ page.content }}</textarea></div></br>
              <div><input type="submit" class="btn btn-large btn-primary pull-right" value="Post"></div>
              </form>
              {% else %}
              <form action="/login/submitpage?type_name={{ type_name }}&page_id=" method="post">
              <div><label for="english_title">English Title (Required)</label></div>
              <div><input type="text" name="english_title" class="form-control" value="" required="true"></div></br>
              <div><label for="title">Title</label></div>
              <div><input type="text" name="title" class="form-control" value="" required="true"></div></br>
              <div><label for="author">Author</label></div>
              <div><input type="text" name="author" class="form-control" value=""></div></br>
              <div><label for="date">Date</label></div>
              <div><input type="text" name="date" class="datepicker" value=""></div></br>
              <div><label for="summary">Summary</label></div>
              <div><textarea class="editor" name="summary" class="input-block-level"></textarea></div></br>
              <div><label for="content">Content</label></div>
              <div><textarea class="editor" name="content" class="input-block-level"></textarea></div></br>
              <div><input type="submit" class="btn btn-large btn-primary pull-right" value="Post"></div>
              </form>
              {% endif %}
          </div>
        </div><! --/row -->
      </div><! --/container -->
    </div>
{% endblock %}

{% block js %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/trumbowyg/dist/trumbowyg.min.js"></script>
    <script>
        $( function() {
            $('.editor').trumbowyg();
            $( ".datepicker" ).datepicker();
            } );
    </script>
{% endblock %}
