{% extends "templates/base.html" %}

{% block content %}
    <div class="whiteback">
      <div class="container">
        <div class="row mt mb">
		  <div class="col-lg-8 col-lg-offset-2">
              <form action="/login/submitpage?type_name={{ type_name }}&page_id={{ page_id }}" method="post">
              <div><label for="title">Title</label></div>
              <div><input type="text" name="title" class="form-control"></div></br>
              <div><label for="author">Author</label></div>
              <div><input type="text" name="author" class="form-control"></div></br>
              <div><label for="date">Date</label></div>
              <div><input type="text" name="date" class="datepicker"></div></br>
              <div><label for="summary">Summary</label></div>
              <div><textarea class="editor" name="summary" class="input-block-level" rows="3"></textarea></div></br>
              <div><label for="content">Content</label></div>
              <div><textarea class="editor" name="content" class="input-block-level" rows="10"></textarea></div></br>
              <div><input type="submit" class="btn btn-large btn-primary pull-right" value="Post"></div>
            </form>
          </div>
        </div><! --/row -->
      </div><! --/container -->
    </div>
{% endblock %}

{% block js %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/trumbowyg/dist/trumbowyg.min.js"></script>
    <script>
        $( function() {
            $('.editor').trumbowyg();
            $( ".datepicker" ).datepicker();
            } );
    </script>
{% endblock %}
