{% extends "templates/base.html" %}

{% block content %}

<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
	    <h4>Some text here</h4>
	    <h1>佳音團契</h1>
		<h4>Some text here</h4>
	  </div>
    </div>
  </div>
</div>

<div class="whiteback">
  <div id="about" class="container">
    <div class="row mt mb">
      <div class="col-md-6">
        <h2 class="centered">近期活動</h2>
        <div class="row mt mb">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            {% if pages %}
              {% for page in pages %}
                <a href="/event/{{ page.key.id() }}"><h2>{{ page.title }}</h2></a>
                <p>{{ page.summary|safe }}</p>
              {% endfor %}
            {% endif %}
          </div>
          <div class="col-md-1"></div>
          </div>
        </div>
      <div class="col-md-6">
      </div>
    </div><!--/row -->
  </div><!--/container -->
</div><!--whiteback-->

{% endblock %}

