{% extends "templates/base.html" %}

{% block content %}

<div id="headerwrap" class="myback">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
	    <h4>中宣會</h4>
	    <h1>佳音團契</h1>
		<h4>Gladtidings Fellowship</h4>
	  </div>
    </div>
  </div>
</div>

<div class="whiteback">
  <div id="about" class="container">
    <div class="row mt mb">

      <div class="col-md-6">

        <h2 class="centered">近期活動</h2>
        <div class="row mt mb">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            {% if events %}
              {% for event in events %}
                <a class="centered" href="/event/{{ event.key.id() }}"><h2>{{ event.title }}</h2></a>
                <p class="centered">{{ event.summary|safe }}</p>
                <hr>
              {% endfor %}
            {% endif %}
          </div>
          <div class="col-md-1"></div>
        </div>

      </div>
      <div class="col-md-6">

        <h2 class="centered">最新文章</h2>
        <div class="row mt mb">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            {% if articles %}
              {% for article in articles %}
                <a class="centered" href="/article/{{ article.key.id() }}"><h2>{{ article.title }}</h2></a>
                <p class="centered">{{ article.summary|safe }}</p>
                <hr>
              {% endfor %}
            {% endif %}
          </div>
          <div class="col-md-1"></div>
        </div>

      </div>

    </div>
  </div>
</div>

{% endblock %}

