{% extends "templates/base.html" %}

{% block content %}

<div id="headerwrap" class="myback">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
	    <h3>中宣會</h3>
	    <h1>佳音團契</h1>
		<h3>Gladtidings Fellowship</h3>
	  </div>
    </div>
  </div>
</div>

<div class="grayback">
  <div id="about" class="container">
    <div class="row mt mb">
      <h2 class="centered">佳音團契</h2>
      <div class="col-md-4 col-md-offset-4">
        <p>佳音團契是一群以講國語為主的大學生及青年就業人士所組成的團體。透過不同形式的互動：如查經、聖經小品、遊戲、生活分享、肢體彼此的代禱、專題講座、戶外活動，一同學習生命之道，活出主耶穌基督的樣式。我們的共同目標是接受神所給各方面的訓練及裝備，以便完成祂所託付的傳福音，領人歸主的使命。</p>
      </div>
    </div>
  </div>
</div>

<div class="whiteback">
  <div id="about" class="container">
    <div class="row mt mb">

      <div class="col-md-6">

        <h2 class="centered">近期活動</h2>
        <div class="row mt mb">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            {% if events %}
              {% for event in events %}
                <a class="centered" href="/event/{{ event.key.id() }}"><h2>{{ event.title }}</h2></a>
                <p class="centered">{{ event.summary|safe }}</p>
                <hr>
              {% endfor %}
            {% endif %}
          </div>
          <div class="col-md-1"></div>
        </div>

      </div>
      <div class="col-md-6">

        <h2 class="centered">最新文章</h2>
        <div class="row mt mb">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            {% if articles %}
              {% for article in articles %}
                <a class="centered" href="/article/{{ article.key.id() }}"><h2>{{ article.title }}</h2></a>
                <p class="centered">{{ article.summary|safe }}</p>
                <hr>
              {% endfor %}
            {% endif %}
          </div>
          <div class="col-md-1"></div>
        </div>

      </div>

    </div>
  </div>
</div>

{% endblock %}

