{% extends "templates/base.html" %}

{% block content %}
    <div class="whiteback">
      <div class="container">
        <div class="row mt mb">
        <div class="col-md-6 col-md-offset-3">
        <h3 class="centered">Admin</h3>
        {% if is_admin %}
        <form action="/login/managesubmit?type=admin&action=add" method="post">
        <div><label for="email">Add email</label></div>
        <div><input type="email" name="email" class="form-control"></div></br>
        <div><input type="submit" class="btn btn-large btn-primary pull-right" value="Add"></div>
        </form>
        {% endif %}
        </div>
        </div>
        {% for admin in admins %}
        <div class="row mt mb">
          <div class="col-md-3 col-md-offset-3">
              <p>{{ admin.key.id() }}</p>
          </div>
          {% if is_admin %}
          <div class="col-md-3">
              <form action="/login/managesubmit?type=admin&email={{ admin.key.id() }}&action=delete" method="post">
              <div><input type="submit" class="btn btn-large btn-danger pull-right" value="Delete"></div>
              </form>
          </div>
          {% endif %}
        </div>         
        {% endfor %}
      </div><! --/container -->
      </br>
      <div class="container">
        <div class="row mt mb">
        <div class="col-md-6 col-md-offset-3">
        <h3 class="centered">Member</h3>
        {% if is_admin %}
        <form action="/login/managesubmit?type=member&action=add" method="post">
        <div><label for="email">Add email</label></div>
        <div><input type="email" name="email" class="form-control"></div></br>
        <div><input type="submit" class="btn btn-large btn-primary pull-right" value="Add"></div>
        </form>
        {% endif %}
        </div>
        </div>
        {% for member in members %}
        <div class="row mt mb">
          <div class="col-md-3 col-md-offset-3">
              <p>{{ member.key.id() }}</p>
          </div>
          {% if is_admin %}
          <div class="col-md-3">
              <form action="/login/managesubmit?type=member&email={{ member.key.id() }}&action=delete" method="post">
              <div><input type="submit" class="btn btn-large btn-danger pull-right" value="Delete"></div>
              </form>
          </div>
          {% endif %}
        </div>         
        {% endfor %}
      </div><! --/container -->
    </div>
{% endblock %}
