{% extends "templates/base.html" %}

{% block content %}
    <div class="whiteback">
      <div class="container">
        <div class="row mt mb">
          {% if page %}
		    <div class="col-lg-10 col-lg-offset-1">
                <h2>{{ page.title }}</h2>
                <p><i>{{ page.date }} {{ page.author }}</i></p>
                {{ page.content|safe }}
            </div>
            {% if show_admin %}
            <div class="col-lg-1">
              </br>
              <a href="/login/editpage?type_name=event&page_id={{ page.key.id() }}">
                <button type="submit" class="btn btn-primary btn-block">Edit</button>
              </a>
              </br>
              <div><form class="form" action="/login/deletepage?page_id={{ page.key.id() }}" method="post">
                <button type="submit" class="btn btn-danger btn-block">Delete</button>
              </form></div>
            </div>
            {% endif %}
          {% endif %}
        </div><! --/row -->
      </div><! --/container -->
    </div>
{% endblock %}

{% block js %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/trumbowyg/dist/trumbowyg.min.js"></script>
    <script>
        $( function() {
            $('.editor').trumbowyg();
            $( ".datepicker" ).datepicker();
            } );
    </script>
{% endblock %}
